@import "../sass/mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: $primary-font;
  hyphens: auto;

  @include respond(tab-port) {
    font-size: 85%;
  }

  @include respond(desktop) {
    font-size: 95%;
    padding: 2rem;
    background-color: $gray-color-dark;

    body {
      border: solid $primary-color 2px;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
      border-radius: 3px;
    }
  }
}
