$secondary-font: 'Caveat', serif;
$primary-font: 'Lato', sans-serif;
$primary-color: #7D2222;
$secondary-color: #DEB872;
$gray-color-light: #eee;
$gray-color-dark: #999;

// $secondary-color: #7D2222;