.work {
  width: 100%;
  padding-bottom: 10rem;
  display: inline-flex;
  flex-direction: column;
  background-color: $primary-color;
  overflow: hidden;
  align-items: center;

  &__title {
    margin: 5rem;
    color: white;
    font-family: $secondary-font;
    text-transform: uppercase;
    font-size: 3rem;
  } 
  &__projects {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include respond(tab-port) {
      text-align: left;

      .work__projects {
      }
  }
}
